<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrtechnology.smartsports">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectScoreBoard"></activity>
        <activity android:name=".ViewPlayerActivity" />
        <activity android:name=".Team1ListActivity" />
        <activity android:name=".ViewMatchActivity" />
        <activity android:name=".MatchListActivity" />
        <activity android:name=".NewPlayerActivity" />
        <activity android:name=".NewMatchActivity" />
        <activity android:name=".Team1Activity" />
        <activity android:name=".ScoreBoard" />
        <activity android:name=".OneDay" />
        <activity android:name=".Cricket" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>